:host{
  height: 60px;
  width: 100%;
  display: block;
}
.time-block{
  position: absolute;
  right: 0;
  padding: 4px;

}
.header-login{
  display: inline-block;
  margin-right: 10px;


}

.header-data{
  display: inline-block;
}
