<div class="d-flex flex-column col-6 m-auto registration-input-wrap">
  <div>
    <span class="mx-3">Логин</span>
    <input type="text" class="mt-3" pInputText [ngClass]="{'input-error': !login}" [(ngModel)]="login"/>
  </div>
  <div>
    <span class="mx-3">Пароль</span>
    <input type="password" class="mt-3" pInputText [ngClass]="{'input-error': !psw}" [(ngModel)]="psw"/>
  </div>
  <div>
    <span class="mx-3">Подтверждение пароля</span>
    <input type="password" class="mt-3" pInputText [ngClass]="{'input-error': !pswRepeat}" [(ngModel)]="pswRepeat"/>
  </div>
  <div>
    <span class="mx-3">Почта</span>
    <input type="text" class="mt-3" pInputText [(ngModel)]="email"/>
  </div>
  <div *ngIf="showCardNumber; else noSelected">
    <span class="mx-3">Номер карты</span>
    <input type="text" class="mt-3" pInputText [(ngModel)]="cardNumber"/>
  </div>
  <div>
    <span class="mx-3"></span>
    <p-checkbox (onChange)="registrationLocalStorage()" class=" mt-3 " label="Сохранить личные данные в локальном хранилище" [(ngModel)]="saveUserInStore" [binary]="true"></p-checkbox>
  </div>
  <div>
    <span class="mx-3">&nbsp;</span>
    <button [disabled]="!login || !psw|| !pswRepeat" (click)="registration($event)" type="button" class="btn btn-success mt-3 ">Зарегистрироваться</button>
  </div>
</div>

<ng-template #noSelected>
  <p>Карта не выбрана</p>
</ng-template>

